[Desktop Entry]
Encoding=UTF-8
Name=SeqMonk
Exec=seqmonk
Icon=/usr/local/SeqMonk/uk/ac/bbsrc/babraham/SeqMonk/Resources/monk.svg
Type=Application
Categories=Application
Terminal=false
